.blue-grey-bg {
    background-color: #455A64;
}

.blue-grey {
	color: #455A64;
}

a:active,
a:hover,
a:focus {
 outline: 0;
 color: #455A64;
 text-decoration: none;
}

a{
 color: #727272;
 text-decoration: none;
}

.left-align {
 text-align: left;
}

.right-align {
 text-align: right;
}

.center,
.center-align {
 text-align: center;
}

.left {
 float: left !important;
}

.right {
 float: right !important;
}

.entry {
 padding-bottom: 20px;
}

.btn.btn-fab.btn-download {
 background-color: #455A64;
 color: #ffffff;
 position: fixed;
 bottom: 18%;
 right: 6%;
}