.blue-grey-bg {
    background-color: #455A64;
}

.blue-grey {
	color: #455A64;
}

a:active,
a:hover {
 outline: 0;
}
p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
 color: #727272;
 text-decoration: none;
}

p a:hover {
 color: #9E9E9E;
 text-decoration: none;
}